body {
  font-family: "Open Sans", "FreightSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.jumbotron {
  color: #fff;
  text-align: center;
  height: 290px;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(71, 71, 71)), to(rgb(121, 125, 182)));
}
.jumbotron h2 {
  font-weight: 100;
}
.container-links h1 {
  font-size: 140%;
}
.container-links li {
  font-size: 140%;
  font-weight: 100;
}
.gr_grid_book_container {
  float: left;
  width: 98px;
  height: 160px;
  padding: 0px 0px;
  overflow: hidden;
}
.gr_grid_branding {
  display: none;
}
