body {
  font-family: "Open Sans", "FreightSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.jumbotron {
  color: #fff;
  text-align: center;
  height: 250px;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(61, 176, 130)), to(rgb(121, 125, 182)));
}
.jumbotron h2 {
  font-weight: 100;
}
.container-links li {
  font-size: 150%;
  font-weight: 100;
}
